<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/headTag :: headTag"></head>
<body>
<header th:include="fragments/header"></header>
<nav th:include="fragments/navbar"></nav>

<div id="content">
    <form method="post" action="user-create">
        <div th:class="'form-group'+(${usernameError} ? ' has-error')">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username"/>
        </div>
        <div th:class="'form-group'+(${emailError} ? ' has-error')">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email"/>
        </div>
        <div th:class="'form-group'+(${passwordError} ? ' has-error')">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
        </div>
        <div th:class="'form-group'+(${cPasswordError} ? ' has-error')">
            <label for="cpassword">Confirm password</label>
            <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Confirm password"/>
        </div>

        <button type="submit" class="btn btn-default">Create user</button>
    </form>
</div>

</body>
</html>